
<!DOCTYPE html>
<html lang="es">

    <% include partials/head.ejs %>

</head> -->
<body>
	<header id="s-header">
		<nav class="navbar navbar-expand-lg">
			<div class="container px-0">
				<a class="navbar-toggler-icon" href="/">
		    	<img width="80px" height="80px" src="https://i.ibb.co/n8vnfKV/76186115-113005950156580-4262482852022583296-o.jpg" alt="Logotype">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a style="color: rgba(38, 113, 211, 0.842);" class="nav-link" target="_blank" href="https://facebook.com/d4rksit3">Facebook</a>
			      </li>
			      <li class="nav-item">
			        <a style="color: rgba(184, 45, 45, 0.911);" class="nav-link" target="_blank" href="https://www.youtube.com/c/d4rksit3">Youtube</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
		<div class="container">		
			<br>
			<br>
			<hr style="color: white;">
			<div id="main-text">
				<div class="row">
					<div class="col-xl-6 col-lg-8">
						<div class="alert alert-success" role="alert">
						<h1>Bienvenidos | D4rkSpy</h1>
						<hr>
						<p style="color: black;">d4rksit3 no será responsable de ningún daño directo o indirecto causado por el uso de esta herramienta.
						</br>Esta herramienta está construido para fines educativos. Úselo bajo su propio riesgo.</p>
					</div>
						<div class="row button_wrap">
							<div class="col-6">
								<a href="/login" class="btn btn-danger">
									Iniciar sesión</a>
							</div>
						
					</div>
</div>
</div>
</div>
</div>


				</header>
</body>
</html>
