<div class="col-xl-6 col-lg-8">
    <h3>Bienvenido</h3>
    <p >d4rksit3 no será responsable de ningún daño directo o indirecto causado por el uso de esta herramienta.
    </br>Esta herramienta está construido para fines educativos. Úselo bajo su propio riesgo.</p>
</div>   