<br><br>
<div style="text-align: center; color: azure; background-color: black;">
    Created by <a href="https://facebook.com/d4rksit3" target="_blank">D4rksit3</a>
    <!-- An Open Source Project -->
</div>

<br><br>