<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Monitoreo de android D4rkSpy" name=description>
    <title>D4rkSpy</title>
    <meta property="og:type" content="D4rkSpy Monitoreo Dashboard" />
    <meta property="og:url" content="https://darksite.tk" />
    <meta property="og:image" content="https://i.ibb.co/n8vnfKV/76186115-113005950156580-4262482852022583296-o.jpg" />
    <meta property="og:description" content="D4rkSpy | Dashboard de Monitoreo y espionaje android" />
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/snackbar.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
	<link href=https://i.ibb.co/n8vnfKV/76186115-113005950156580-4262482852022583296-o.jpg rel=icon>
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/snackbar.min.js"></script>
    <script src="/js/main.js"></script>
</head>