<br>
<div class="ui secondary menu">
    <div class="header item"><img src="https://i.ibb.co/n8vnfKV/76186115-113005950156580-4262482852022583296-o.jpg" style="width: 80px"></div>
    <a href="/panel" class="item">
        <i class="icon mobile alternate"></i>&nbsp;&nbsp; Dispositivos
    </a>

    <a href="/builder" class="item">
        <i class="icon wrench"></i>&nbsp;&nbsp; Contruir APK
    </a>

   <!-- <a href="/changepass" class="item">
        <i class="icon wrench"></i>&nbsp;&nbsp; Cambiar contraseña(No uso)
    </a>-->

    <a href="/logs" class="item">
        <i class="icon terminal"></i>&nbsp;&nbsp; Event Log
    </a>
    <div class="right menu">
        <a href="/logout" class="ui item">
            <i class="icon door"></i>&nbsp;&nbsp; Cerrar sesion
        </a>
    </div>
</div>
<div class="ui divider"></div>
<br>